build/html/admissionForm.html
<!DOCTYPE html>
<html>
  <head>
    <title>eCure</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle"> eCure</h3>
        <h4 class="headerTextStyle">Dhanmondi</h4>
        <h3 class="headerTextStyle">Phone:0174733331415</h3>
      </div>
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle">Admission Form</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-4 col-print-4">
            <label>Registration No:</label><span>000003-10-16</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Admission Id:</label><span>AD-0001148</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Admission Date Time:</label><span>2/2/2017, 10:36:24 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-4 col-print-4">
            <label>Patient Name:</label><span>Kashem ali</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Age:</label><span>11-00-00</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Sex:</label><span>Male</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-5 col-print-5">
            <label>Guardian Name:</label><span>Kalim Sharkar</span>
          </div>
          <div class="col-md-7 col-print-7">
            <label>Present Address:</label><span>102 Mirpur Rd, Dhaka 1207, Bangladesh</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-5 col-print-5">
            <label>Telephone:</label><span>01818181818</span>
          </div>
          <div class="col-md-7 col-print-7">
            <label>Emargency Contact:</label><span>01073672172</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center admissionFormHeader">
        <h3 class="headerTextStyle">Bed Info</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Cabin/ Bed No:</label><span>FW-2</span>
          </div>
          <div class="col-md-6 col-print-6">
            <label>Department:</label><span>Allergy & Immunology</span>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center admissionFormHeader">
        <h3 class="headerTextStyle">Doctor's Information</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-12 col-print-12">
            <label>Admission Under:</label><span>Dr. Rokonujjaman ( MBBS )</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-12 col-print-12">
            <label>Remarks:</label><span></span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Attending Doctor:</label><span></span>
          </div>
          <div class="col-md-6 col-print-6">
            <label>Signature:</label><span></span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Attending Nurse:</label><span></span>
          </div>
          <div class="col-md-6 col-print-6">
            <label>Signature:</label><span></span>
          </div>
        </div>
      </div>
      <div class="col-md-12 admissionFormHeader">
        <p>I/We hereby abide by the rules and regulation of the Hospital.The Above information given by myself is true and if my information prove to be false i shall be liable for that.</p>
      </div>
      <div class="col-md-12 col-print-12">
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1 signatureBorder">
          <h3>&nbsp;</h3>
        </div>
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1 signatureBorder">
          <h3>&nbsp;</h3>
        </div>
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1">
          <h3>&nbsp;</h3>
        </div>
      </div>
      <div class="col-md-12 col-print-12">
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1 text-center">
          <h4>Signature of Guardian/ Responsible Person</h4>
        </div>
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1 text-center">
          <h4>Full Signature in block Letter</h4>
        </div>
        <div class="col-md-3 col-print-3 col-md-offset-1 col-print-offset-1 text-center">
          <label>Admitted By:</label><span>Tariqul</span>
        </div>
      </div>
      <div class="col-md-12 col-print-12">
        <div class="col-md-4 col-print-4 text-center">
          <h4>10/8/2015 11:34:26AM</h4>
        </div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 text-center">
          <h4>Powered By: Daffodil Software</h4>
        </div>
      </div>
    </div>
  </body>
</html>

template/jade/admissionForm.jade
extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Admission Form')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Registration No:
                    span 000003-10-16
                .col-md-4.col-print-4
                    label Admission Id:
                    span AD-0001148
                .col-md-4.col-print-4
                    label Admission Date Time:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Patient Name:
                    span Kashem ali
                .col-md-4.col-print-4
                    label Age:
                    span 11-00-00
                .col-md-4.col-print-4
                    label Sex:
                    span Male
            .row.admissionInfo
                .col-md-5.col-print-5
                    label Guardian Name:
                    span Kalim Sharkar
                .col-md-7.col-print-7
                    label Present Address:
                    span 102 Mirpur Rd, Dhaka 1207, Bangladesh
            .row.admissionInfo
                .col-md-5.col-print-5
                    label Telephone:
                    span 01818181818
                .col-md-7.col-print-7
                    label Emargency Contact:
                    span 01073672172

        .col-md-12.text-center.admissionFormHeader
            h3.headerTextStyle Bed Info
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Cabin/ Bed No:
                    span FW-2
                .col-md-6.col-print-6
                    label Department:
                    span Allergy & Immunology
        .col-md-12.text-center.admissionFormHeader
            h3.headerTextStyle Doctor's Information
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Admission Under:
                    span Dr. Rokonujjaman ( MBBS )
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Remarks:
                    span
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Attending Doctor:
                    span
                .col-md-6.col-print-6
                    label Signature:
                    span
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Attending Nurse:
                    span
                .col-md-6.col-print-6
                    label Signature:
                    span
        .col-md-12.admissionFormHeader
            p I/We hereby abide by the rules and regulation of the Hospital.The Above information given by myself is true and if my information prove to be false i shall be liable for that.

    block foot
        +footer4()
