template/jade/dailyServiceBillSummary.jade
extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Daily Service Bill Summary')
        +admissionInfoBlockForDailyServiceBill()
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars.text-center Service Description
                        th.tableParticulars.text-center Details
                        th.tableParticulars.text-center TBD
                        th.tableParticulars.text-center Discount
                        th.tableParticulars.text-center After Dis.
                    tr
                        td.tableParticulars.text-center Consultant fee(indoor)
                        td.tableParticulars.text-center 1x502x2%
                        td.tableParticulars.text-center 502
                        td.tableParticulars.text-center 2
                        td.tableParticulars.text-center 500
                    tr
                        td.tableParticulars.text-center(rowspan="5")
                            b Daily Service Bill
                        td.tableParticulars.text-right(colspan="3")
                            b Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount:
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Net Total:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Deposit:
                        td.tableParticulars.text-center 0
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Balance:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-center(rowspan="6")
                            b Lab Bill:
                        td.tableParticulars.text-right(colspan="3")
                            b Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount:
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Net Total:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Received Amount:
                        td.tableParticulars.text-center 0
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Due Collection:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Due:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-center(rowspan="4")
                            b Remarks:
                        td.tableParticulars.text-right(colspan="3")
                            b Grand Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount Total(-):
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Received Total(-):
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Balance:
                        td.tableParticulars.text-center 0
    block foot
        +footer2()

build/html/dailyServiceBillSummary.html
<!DOCTYPE html>
<html>
  <head>
    <title>eCure</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle"> eCure</h3>
        <h4 class="headerTextStyle">Dhanmondi</h4>
        <h3 class="headerTextStyle">Phone:0174733331415</h3>
      </div>
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle">Daily Service Bill Summary</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-4 col-print-4">
            <label>Reg. No:</label><span>000009-02-17</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Admission ID:</label><span>AD-0001147</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Admission Date:</label><span>2/2/2017, 10:36:24 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Patient Name:</label><span>Kashem ali</span>
          </div>
          <div class="col-md-3 col-print-3">
            <label>Age:</label><span>11-00-00</span>
          </div>
          <div class="col-md-3 col-print-3">
            <label>Bed:</label><span>FW-1</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Mobile:</label><span>AD-0001144</span>
          </div>
          <div class="col-md-6 col-print-6">
            <label>Emergency Contact:</label><span>0000015656</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-12 col-print-12">
            <label>Admission Under:</label><span>Dr. Rokonujjaman ( MBBS )</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <table class="fullWidthTable">
            <tr>
              <th class="tableParticulars text-center">Service Description</th>
              <th class="tableParticulars text-center">Details</th>
              <th class="tableParticulars text-center">TBD</th>
              <th class="tableParticulars text-center">Discount</th>
              <th class="tableParticulars text-center">After Dis.</th>
            </tr>
            <tr>
              <td class="tableParticulars text-center">Consultant fee(indoor)</td>
              <td class="tableParticulars text-center">1x502x2%</td>
              <td class="tableParticulars text-center">502</td>
              <td class="tableParticulars text-center">2</td>
              <td class="tableParticulars text-center">500</td>
            </tr>
            <tr>
              <td rowspan="5" class="tableParticulars text-center"><b>Daily Service Bill</b></td>
              <td colspan="3" class="tableParticulars text-right"><b>Total:</b></td>
              <td class="tableParticulars text-center">502</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Discount:</b></td>
              <td class="tableParticulars text-center">2</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Net Total:</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Deposit:</b></td>
              <td class="tableParticulars text-center">0</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Balance:</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td rowspan="6" class="tableParticulars text-center"><b>Lab Bill:</b></td>
              <td colspan="3" class="tableParticulars text-right"><b>Total:</b></td>
              <td class="tableParticulars text-center">502</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Discount:</b></td>
              <td class="tableParticulars text-center">2</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Net Total:</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Received Amount:</b></td>
              <td class="tableParticulars text-center">0</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Due Collection:</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Due:</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td rowspan="4" class="tableParticulars text-center"><b>Remarks:</b></td>
              <td colspan="3" class="tableParticulars text-right"><b>Grand Total:</b></td>
              <td class="tableParticulars text-center">502</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Discount Total(-):</b></td>
              <td class="tableParticulars text-center">2</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Received Total(-):</b></td>
              <td class="tableParticulars text-center">550</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars text-right"><b>Balance:</b></td>
              <td class="tableParticulars text-center">0</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4">
          <h2>Bill Prepared By</h2>
        </div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 signatureBorder text-center">
          <h3>shafe</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 col-md-offset-8 col-print-offset-8 text-center">
          <h2>Signature</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 text-center">
          <h4>10/8/2015 11:34:26AM</h4>
        </div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 text-center">
          <h4>Powered By: Daffodil Software</h4>
        </div>
      </div>
    </div>
  </body>
</html>
