template/jade/pathologyMoneyReceipt.jade
extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Money Receipt')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Receipt No:
                    span PL20170000015
                .col-md-4.col-print-4
                    label Mobile:
                    span 0101010
                .col-md-4.col-print-4
                    label Receipt Date:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Registration No:
                    span 000003-10-16
                .col-md-4.col-print-4
                    label Admission No:
                    span AD-0001148
                .col-md-4.col-print-4
                    label Delivery Date:
                    span 2/17/2017, 1:30:00 AM
            .row.admissionInfo
                .col-md-3.col-print-3
                    label Patient Name:
                    span Kashem ali
                .col-md-2.col-print-2
                    label Age:
                    span 11-00-00
                .col-md-2.col-print-2
                    label Sex:
                    span Male
                .col-md-5.col-print-5
                    label Address:
                    span 45646465446
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Referred by:
                    span Dr. Rokonujjaman ( MBBS )
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars(colspan="2") Test Name
                        th.tableParticulars Amount (BDT)
                    tr
                        td.tableParticulars(colspan="3")
                            table.fullWidthTable
                                tr
                                    th.tableParticulars(rowspan="3") Haematology
                                    th.tableParticulars TC
                                    th.tableParticulars 100
                                tr
                                    th.tableParticulars TC/DC
                                    th.tableParticulars 100
                                tr
                                    th.tableParticulars HCT/PCV
                                    th.tableParticulars 100

                    tr
                        td.tableParticulars.dueWidth(rowspan="6")
                            h2 Due
                        td.tableParticulars Total Bill:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Total Discount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Adjustment Discount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Total Receivable:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Received Amount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Due Amount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars(colspan="3")
                            b Amount in words: taka only
                    tr
                        td.tableParticulars(colspan="3")
                            b Remarks:

build/html/pathologyMoneyReceipt.html
<!DOCTYPE html>
<html>
  <head>
    <title>eCure</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle"> eCure</h3>
        <h4 class="headerTextStyle">Dhanmondi</h4>
        <h3 class="headerTextStyle">Phone:0174733331415</h3>
      </div>
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle">Money Receipt</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-4 col-print-4">
            <label>Receipt No:</label><span>PL20170000015</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Mobile:</label><span>0101010</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Receipt Date:</label><span>2/2/2017, 10:36:24 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-4 col-print-4">
            <label>Registration No:</label><span>000003-10-16</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Admission No:</label><span>AD-0001148</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Delivery Date:</label><span>2/17/2017, 1:30:00 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-3 col-print-3">
            <label>Patient Name:</label><span>Kashem ali</span>
          </div>
          <div class="col-md-2 col-print-2">
            <label>Age:</label><span>11-00-00</span>
          </div>
          <div class="col-md-2 col-print-2">
            <label>Sex:</label><span>Male</span>
          </div>
          <div class="col-md-5 col-print-5">
            <label>Address:</label><span>45646465446</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-12 col-print-12">
            <label>Referred by:</label><span>Dr. Rokonujjaman ( MBBS )</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <table class="fullWidthTable">
            <tr>
              <th colspan="2" class="tableParticulars">Test Name</th>
              <th class="tableParticulars">Amount (BDT)</th>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars">
                <table class="fullWidthTable">
                  <tr>
                    <th rowspan="3" class="tableParticulars">Haematology</th>
                    <th class="tableParticulars">TC</th>
                    <th class="tableParticulars">100</th>
                  </tr>
                  <tr>
                    <th class="tableParticulars">TC/DC</th>
                    <th class="tableParticulars">100</th>
                  </tr>
                  <tr>
                    <th class="tableParticulars">HCT/PCV</th>
                    <th class="tableParticulars">100</th>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td rowspan="6" class="tableParticulars dueWidth">
                <h2>Due</h2>
              </td>
              <td class="tableParticulars">Total Bill:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td class="tableParticulars">Total Discount:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td class="tableParticulars">Adjustment Discount:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td class="tableParticulars">Total Receivable:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td class="tableParticulars">Received Amount:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td class="tableParticulars">Due Amount:</td>
              <td class="tableParticulars">583</td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars"><b>Amount in words: taka only</b></td>
            </tr>
            <tr>
              <td colspan="3" class="tableParticulars"><b>Remarks:</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4"></div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 signatureBorder text-center">
          <h3>shafe</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 col-md-offset-8 col-print-offset-8 text-center">
          <h2>Signature</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 text-center">
          <h4>10/8/2015 11:34:26AM</h4>
        </div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 text-center">
          <h4>Powered By: Daffodil Software</h4>
        </div>
      </div>
    </div>
  </body>
</html>
