template/jade/virologyReport.jade
extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Virology Report')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Registration ID:
                    span PL20170000015
                .col-md-6.col-print-6
                    label Ward/Cabin Name:
                    span 0101010
            .row.admissionInfo
                .col-md-3.col-print-3
                    label Receipt No:
                    span PL20170000015
                .col-md-3.col-print-3
                    label Age:
                    span 34
                .col-md-2.col-print-2
                    label Sex:
                    span Male
                .col-md-4.col-print-4
                    label Receipt Date:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-8.col-print-8
                    label Patient Name:
                        span Kashem ali

                .col-md-4.col-print-4
                    label Delivery Date:
                    span 2/17/2017, 1:30:00 AM

            .row.admissionInfo
                .col-md-8.col-print-8
                    label Referred by:
                    span Dr. Rokonujjaman ( MBBS )
                .col-md-4.col-print-4
                    label Specimen:
                    span Blood
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars.virologyReportTable Test
                        th.tableParticulars.virologyReportTable Result
                        th.tableParticulars.virologyReportTable Reference Range
                        th.tableParticulars.virologyReportTable &nbsp;
                    tr
                        td.tableParticulars 1
                        td.tableParticulars 2
                        td.tableParticulars 3
                        td.tableParticulars 4

build/html/virologyReport.html
<!DOCTYPE html>
<html>
  <head>
    <title>eCure</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle"> eCure</h3>
        <h4 class="headerTextStyle">Dhanmondi</h4>
        <h3 class="headerTextStyle">Phone:0174733331415</h3>
      </div>
      <div class="col-md-12 text-center">
        <h3 class="headerTextStyle">Virology Report</h3>
      </div>
      <div class="col-md-12 admissionInfoContainer">
        <div class="row admissionInfo">
          <div class="col-md-6 col-print-6">
            <label>Registration ID:</label><span>PL20170000015</span>
          </div>
          <div class="col-md-6 col-print-6">
            <label>Ward/Cabin Name:</label><span>0101010</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-3 col-print-3">
            <label>Receipt No:</label><span>PL20170000015</span>
          </div>
          <div class="col-md-3 col-print-3">
            <label>Age:</label><span>34</span>
          </div>
          <div class="col-md-2 col-print-2">
            <label>Sex:</label><span>Male</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Receipt Date:</label><span>2/2/2017, 10:36:24 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-8 col-print-8">
            <label>Patient Name:<span>Kashem ali</span></label>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Delivery Date:</label><span>2/17/2017, 1:30:00 AM</span>
          </div>
        </div>
        <div class="row admissionInfo">
          <div class="col-md-8 col-print-8">
            <label>Referred by:</label><span>Dr. Rokonujjaman ( MBBS )</span>
          </div>
          <div class="col-md-4 col-print-4">
            <label>Specimen:</label><span>Blood</span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <table class="fullWidthTable">
            <tr>
              <th class="tableParticulars virologyReportTable">Test</th>
              <th class="tableParticulars virologyReportTable">Result</th>
              <th class="tableParticulars virologyReportTable">Reference Range</th>
              <th class="tableParticulars virologyReportTable">&nbsp;</th>
            </tr>
            <tr>
              <td class="tableParticulars">1</td>
              <td class="tableParticulars">2</td>
              <td class="tableParticulars">3</td>
              <td class="tableParticulars">4</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4"></div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 signatureBorder text-center">
          <h3>shafe</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 col-md-offset-8 col-print-offset-8 text-center">
          <h2>Signature</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-print-4 text-center">
          <h4>10/8/2015 11:34:26AM</h4>
        </div>
        <div class="col-md-4 col-print-4 col-md-offset-4 col-print-offset-4 text-center">
          <h4>Powered By: Daffodil Software</h4>
        </div>
      </div>
    </div>
  </body>
</html>
